#app1 {
}
#app1 button {
  border: 1px solid blueviolet;
}
#app1 button:hover {
  background-color: yellow;
}
#app1 button:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
